@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic|Roboto:400,700,900");


*,
*::before,
*::after{box-sizing:border-box;
        }

body {
  width: 90vw;
  margin: auto;
  padding: 0;
  background-color: rgb(207, 207, 207);
  font-family: Lato, Arial, Helvetica, sans-serif;
  display: block;
}

h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
}
h3 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
ul{
	list-style: none;
}
.wrapper {
  width: 100%;
  max-width: 960px;
      margin: 0 auto;
  display: block;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 825px){
    flex-direction: column;
    h1{
      margin-bottom: 0;
    }
  }
}
nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .2s ease-in-out;
    li {
      padding-right: 2em;
      &:hover{
        transform: scale(1.1);
        }
    }
  }
}
footer{
  border-top: .125em inset ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    li{
      font-size: 2em;
      &:hover {
        transform: scale(1.1);
        }
    }
  }
}
a{
  text-decoration: none;
  color: inherit;
  &:visited{
    color: inherit;
  }
  &:hover,
  &:focus{
    color: #6521be;
  }
}
main {
  display: flex;
  flex-direction: column;
}